* {
	box-sizing: border-box;
}

body {
	background-color: #2f2f2f;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 600px;
	padding: 2rem;
	text-align: center;
}

.title {
	font-size: 3rem;
	margin-bottom: 2rem;
}

form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 400px;
}

label {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

input {
	border: none;
	border-radius: 5px;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

button {
	background-color: #e91e63;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 1.2rem;
	padding: 0.5rem;
	transition: background-color 0.2s ease;
}

button:hover {
	background-color: #c2185b;
}